.active{
    color : green
 }

 .inactive{
    color : red
 }

p
{
    display:inline;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 10%;
    width: 100%;
    background-color: #3ec9af;
    text-align: center;
  }

  main{
    position: absolute;
    top: 10%;
    width: 100%;
  }

  .btnGetUsers{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 3em;
    width: 6em;
    background-color: #0760645e;
    border-radius: 1em;
  }
